{% extends 'base.html' %}
{% block title %}
  covid-19
{% endblock %}
{% block content %}
  {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
      <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mt-2" role="alert">
        <p class="font-bold">Error!</p>
        <p class="block sm:inline">{{ error }}</p>
      </div>
    {% endfor %}
  {% endif %}

  <div class="w-full flex mx-auto my-8 justify-center">
    <div class="w-full max-w-md mx-auto p-6 rounded shadow items-center justify-between">
      <div class="text-center">
        <h2 class="font-bold mb-4 mt-2 text-2xl text-black">Change Your Password</h2>
      </div>

      <form method="post" class="text-white shadow-md rounded px-8 pt-6 pb-8 mb-4 bg-green-500">
        {% csrf_token %} {% for hidden_field in form.hidden_fields %}
          {{ hidden_field }}
        {% endfor %}

        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="id_old_password">Old Password</label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight border rounded-md border-gray-500 focus:outline-none focus:shadow-outline" name="old_password" id="old_password" type="password" required placeholder="Old Password" />

          {% if form.old_password.errors %}
            <p class="text-red-700 text-xs italic">{{ form.old_password.errors.0}}</p>
          {% endif %}
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="id_new_password1">New password:</label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight border rounded-md border-gray-500 focus:outline-none focus:shadow-outline" name="new_password1" id="new_password1" type="password" required placeholder="New Password" />
          {% if form.new_password1.errors %}
            <p class="text-red-500 text-xs italic">{{ form.new_password1.errors.0}}</p>
          {% endif %}
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="id_new_password2">New password:</label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight border rounded-md border-gray-500 focus:outline-none focus:shadow-outline" name="new_password2" id="new_password2" type="password" required placeholder="Confirm New Password" />

          {% if form.new_password2.errors %}
            <p class="text-red-700 text-xs italic">{{ form.new_password2.errors.0}}</p>
          {% endif %}
        </div>

        <div class="flex w-full justify-center">
          <button class="bg-blue-900 text-white  hover:bg-green-500 border border-blue-900 font-bold px-4 py-2 rounded-lg w-1/2 m-auto" type="submit"><i class="fa-solid fa-unlock"></i> Submit</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
